<!-- This renders the header -->
<!-- { } -->

<link rel="stylesheet" href="/css/styles.css">

<footer>
    <div class="container">
        <nav class="navbar">
            <div class="container-fluid">
                <p>&copy; Trade Card by Peter Mitchell 40206538</p>
            </div>
        </nav>
    </div>
</footer>