<!-- footer.ejs -->
<footer>
    <div class="container">
        <nav class="navbar">
            <div class="container-fluid">
                <p>&copy; Trade Card by Peter Mitchell 40206538</p>
            </div>
        </nav>
    </div>
</footer>